body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    color: #534952;
    background-color: #FFFFFF;
    line-height: 36px;
}

i {
    font-family: 'Rubik';
    color: #8D88BE;
}

hr {
    display: block;
    box-sizing: content-box;
    height: 0;
    width: 200px;
    margin: 40px auto;
    border: 0;
    border-top: 3px solid #8D88BE;
    text-align: center;
}

hr.footer {
    border-top: 1px solid #D5D5D5;
    height: 1px;
    width: 80%;
    margin: 30px auto;
}

figure {
    margin: 40px 0px;
}

figcaption {
    font-size: 16px;
    color: #777089;
    font-family: 'Rubik';
    line-height: initial;
    padding: 16px 0px;
    font-style: italic;
    text-align: center;
}

span.close-icon {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #FFFFFF;
  position: fixed;
  display: block;
  content: '';
  right: 40px;
  top: 40px;
  transform: rotate(135deg);
}

span.close-icon:before{
    top: -10px;
    -webkit-transform: rotate(90deg);
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 47px;
    background: #FFFFFF;
    position: fixed;
    display: none;
    content: '';
}

span.close-icon:after {bottom: -10px;-webkit-transform: translateY(-10px) rotate(-90deg);cursor: pointer;border-radius: 1px;height: 5px;width: 35px;background: #FFFFFF;position: fixed;display: block;content: '';}

#nav-toggle {
  cursor: pointer;
}

/*#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
   }

#nav-toggle span:before {
  top: -10px; }

#nav-toggle span:after {
  bottom: -10px; }

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out; }

#nav-toggle.active span {
  background-color: transparent;
  z-index: 99999999999; }

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0; }

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  background: #444; }

#nav-toggle.active span:after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
  top: 10px;
  background: #444; }
 #menu-main-menu-2 {
  display: none;
}*/


#sub-nav li {
  display: inline-block;
}
.drop-menu {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background: #8D88BD;
    width: 100%;
    height: 100%;
    opacity: 0.95;
    z-index: 99999;
    max-height: 100%;
    overflow-y: auto;
}
  .drop-menu li.search {
    display: inline-block;
    margin-top: 30px; }
    .drop-menu #search-form {
      margin-top: 30px;
    }
  .drop-menu li.search input, #search-form input#s {
    position: relative;
    bottom: 39px;
    left: 5px;
    height: 47px;
    border: 1px solid #fff;
    padding-left: 5px; 
    display: inline-block;
    top: 1px;
    line-height: 35px;
    font-weight: 900;
    font-style: normal;
    font-size: 16px;
    color: #fff;
    -moz-osx-font-smoothing: grayscale; }
    #searchform label {
      display: none; }
  .drop-menu .list-one ul#menu-main-menu{
    list-style-type: none;
    width: 89%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
    }
  .drop-menu .list-one,  {
    border-bottom: 1px solid #fff;
    padding: 100px 0 50px 0;
    overflow: hidden;
    width: 57%; }
  .drop-menu .list-two {
    padding: 0px 0 50px 0; 
    text-align: center;}
    .drop-menu li {
    text-align: center;
    line-height: 42px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .drop-menu li.menu-item-44 {
      margin-bottom: 45px;
    }
  .drop-menu li a {
    font-weight: 900;
    font-style: normal;
    font-size: 2.25em;
    color: #fff;
    text-transform: uppercase;
    -moz-osx-font-smoothing: grayscale; }
  .drop-menu li.menu-item-43 a {
    font-size: 22px;
  }
  .drop-menu li a:hover {
    text-decoration: underline; }
  .drop-menu input[type="text"], .drop-menu input[type="password"], .drop-menu input[type="date"], .drop-menu input[type="datetime"], .drop-menu input[type="datetime-local"], .drop-menu input[type="month"], .drop-menu input[type="week"], .drop-menu input[type="email"], .drop-menu input[type="number"], .drop-menu input[type="search"], .drop-menu input[type="tel"], .drop-menu input[type="time"], .drop-menu input[type="url"], .drop-menu input[type="color"], .drop-menu textarea {
    width: 250px;
    background: #4aebbf }
  .drop-menu ::-webkit-input-placeholder {
    font-weight: 900;
    font-style: normal;
    font-size: 1.25em;
    color: #fff;
    text-transform: uppercase;
    -moz-osx-font-smoothing: grayscale; }
  .drop-menu .postfix.button, #search-form input#searchsubmit {
    background-image: url("../img/search.jpg");
    background-repeat: no-repeat;
    height: 47px;
    width: 53px;
    display: inline-block;
    border: 0;
    text-indent:-9999px;
    cursor: pointer;
    background-color: #fff;
    position: relative;
    bottom: 1px; }
    .drop-menu ul.sub-menu {
      margin-left: 0; 
      display: none;}
    .drop-menu .sub-menu li {
      list-style-type: none; }
    .drop-menu .sub-menu li a {
      font-size: 1.8em;}
    .drop-menu #menu-item-43 {
      padding-top: 45px;
    border-top: 1px solid #fff;
    width: 60%;
    text-align: center;
    margin: 0 auto; }

.drop-menu.expand {
  display: block;
  overflow: hidden;
   }


@media (min-width: 1200px)
{
    .container {
    width: 1170px;
    /*background-color: #fff;*/
    }   
}

p {
    margin: 40px 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #534952;
}

p.project-home{
    color: #FFFFFF;
}

p.project-home#project3{
    color: #666666;
}


.project-item {
    margin: 40px 0px;
}

.project-link {
    font-family: 'Rubik';
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 500;
}

.project-menu-label {
    font-family: 'Rubik';
    color: #FFFFFF;
    /* text-transform: uppercase; */
    font-size: 14px;
    /* font-weight: 500; */
}

.drop-menu a {
    font-family: 'Rubik';
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 500;
}


.drop-menu a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}


.drop-menu a:hover:after {
    background: #FFFFFF;
}

.post-list {
    padding: 0px;
}

.portfolio-item {
    height: 260px;
    overflow: hidden;
    border: 6px solid #fff;
    border-radius: 3px;
    margin: 5px 5px;
}

.caption{
    position:absolute;
    bottom: 0;
    background-color: #fff;
    width: 100%;
    padding: 10px 10px;
    color: #666;
    border-top: 2px solid #BA6FF5;
    font-size: 13px;
    /*height: 0;*/
    opacity: 0;
}

.active {
    /* height: 200px; */
}

button.cta{
    border-radius: 34px;
    background-color: #8D88BE;
    padding: 10px 40px;
    border: none;
    font-family: "Rubik";
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 14px;
    margin: 20px 0px;
}

button.cta#featured-project1 {
    background-color: transparent;
    color: #FFFFFF;
    padding: 5px 30px;
    border: 2px solid #FFFFFF;
}

button.cta#featured-project2{
    background-color: transparent;
    color: #FFFFFF;
    padding: 5px 30px;
    border: 2px solid #FFFFFF;
}

button.cta#featured-project3{
    background-color: transparent;
    color: #666666;
    padding: 5px 30px;
    border: 2px solid #666666;
}


.navbar-default {
    font-family: "Rubik";
    font-weight: 400;
    font-size: 14px;
    background-color: #FFFFFF;
    border-top: 10px solid #8D88BE;
}

.navbar-default .navbar-nav>li>a {
    color: #777089;
    display: inline;
    position: relative;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}


/*.navbar-default .navbar-nav>li>a:hover {
    color: #534952;
    transition: 0.5s;
    text-decoration: none;
}*/

.navbar-default .navbar-nav>li>a:hover:after {
    width: 100%;
    background: #8D88BE;
}

.navbar {
    position: relative;
    min-height: 40px;
    /* margin-bottom: 20px; */
    padding-top: 10px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

img.logo {
    width: 50px;
}

.navbar-brand {
    float: left;
    height: 60px;
    /* padding: 5px 30px; */
    font-size: 18px;
    line-height: 20px;
    position: relative;
    left: 50%;
    z-index: 9999;
}

.navbar-brand>img {
    /* display: block; */
    position: absolute;
    left: 50%;
    margin-left: -30px !important;
}

.col-sm-4 {
    position: relative;
    min-height: 1px;
     padding-right: 0px; 
     padding-left: 0px; 
}

@media (min-width: 768px){
    .navbar-nav>li {
        float: left;
        list-style: none;
        padding: 20px 40px;
    }
}

@media (min-width: 768px){
    .col-sm-4 {
        width: 32.333333%;
    }
}

/*article.post {
    padding: 0px 200px;
}*/

.post-container {
    padding: 0px 4%;
    background-color: #fff;
    padding-bottom: 50px;
    border-radius: 2px;
    margin-top: 20px;
}

.post-main-title {
    /* position: absolute; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* bottom: 70px; */
    text-align: center;
    /* width: 100%; */
    /* right: 0; */
    font-size: 30px;
    /* border-bottom: 2px solid #BA6FF5; */
    /* background-color: rgba(131, 93, 160, 0.9); */
    /* padding-left: 36px; */
    /* padding-right: 20px; */
    /* padding: 9px 46px; */
    line-height: 50px;
    /* margin-bottom: 20px; */
    /* font-weight: 500; */
    margin-top: 10px;
    color: #404040;
    /* box-shadow: 0px 1px 3px #999; */
    /* border-left: 0px solid; */
    /* text-transform: uppercase; */
    letter-spacing: 0.5px;
    /* border-radius: 2px; */
    margin: 40px 0px;
}

.portfolio-content {
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    color: #534952;
    background-color: #FFFFFF;
    line-height: 36px;
    padding: 0px 15%;
}

/*.post-content a:link {
    font-family: 'Oxygen', sans-serif;
    color: #791DC1;
    text-decoration: underline;
    font-weight: 400;
}*/



.img-container {
    position: relative;
    padding-top: 20px;
}

.post-img{
    min-width:100%;
}

.btn-social {
    color: rgba(141, 136, 190, 0.70);
}

.btn-social:hover {
    color: rgba(141, 136, 190, 1);
}

footer.site-footer {
    margin-top: 20px;
    padding: 20px 0px;
    margin-bottom: 20px;
}

h1.category-title {
    background: #fff;
    padding: 14px;
    font-size: 16px;
    border-radius: 2px;
    font-family: "museo-sans",sans-serif;
    color: #666;
}

.project-problem {
    /* background-color: #835DA0; */
    color: #555;
    /* margin-right: 20px; */
    border-radius: 2px;
    padding: 20px 0px;
    /* margin-left: 20px; */
    line-height: 30px;
    /* font-style: italic; */
    font-size: 15px;
    font-weight: 400;
    padding-right: 15px;
}

.project-role {
    /* background-color: #333; */
    color: #555;
    border-radius: 2px;
    padding: 20px 0px;
    /* padding-left: 10px; */
    line-height: 30px;
    /* border: 2px solid #ccc; */
    font-size: 15px;
    font-weight: 400;
}

.project-summary {
    background-color: #8F6CA9;
    color: white;
    padding: 20px 35px;
}


.row {
    margin-left: 0px;
    margin-right: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.prev-next-block {
    /* background-color: #835DA0; */
    /* color: #835DA0; */
    /* padding: 15px; */
    /* border-radius: 2px; */
    /* text-transform: uppercase; */
    /* font-size: 11px; */
    /* letter-spacing: 0.5px; */
    /* border: 1px solid #835DA0; */
    /* font-weight: 600; */
}

.prev-next-project {
    font-family: 'Rubik';
    font-size: 24px;
    color: #8D88BE;
}

.prev.prev-next-block.pull-right {
    text-align: right;
}

.nav-pagination a:link {
    color: #835DA0;
    width: 50%;
}
}

.nav-pagination a:hover {
    text-decoration: none;
    transition: 0.4s;
}

.nav-pagination {
    margin-top: 50px;
}


h1.group-title {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    text-align: center;
    margin: 20px 0px;
    /* text-transform: uppercase; */
    border: 2px solid #ddd;
    display: table;
    padding: 12px;
    color: #ba6ff5;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

section {
    margin: 100px 0px;
    padding: 0px 20%;
}

section.hero{
    margin: 100px 0px;
    padding: 0px 20%;
    text-align: center;
}

section.project-home {
    padding: 0px;
    position: relative;
    float: left;
    margin: 40px 0px;
    border-radius: 2px;
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.3);
}

section.project-home#project1 {
    background-color: #F7971C;
    color: #FFFFFF;
}

section.project-home#project2 {
    background-color: #073053;
}

section.project-home#project3 {
    background-color: #F2F4F8;
}


section.project-hero {
    margin: 40px 0px;
    padding: 0px 15%;
    text-align: center;
    padding-top: 20px;
}

section.project-body {
    margin: 100px 0px;
    padding: 0px;
    text-align: left;
}

section.project-body ul{list-style-type: disc;padding-left: 20px;}


section.project-body p{
        color: #534952;
     }

section.main {
    padding: 0;
    text-align: center;

}

section.project{
    /*margin: 100px 0px;*/
    /*padding: 0px 20%;*/
    /*text-align: center;*/
}

section a {
    text-decoration: none;
    position: relative;
    color: #8d88be;
    font-weight: 500;
    font-family: 'Roboto';
}

section a:hover:after {
    content: '';
    width: 100%;
    position: absolute;
    text-decoration: none;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
    transition: width .5s ease, background-color .5s ease;
}

section a:hover {
    color: #8d88be;
    text-decoration: none;
}

section.project-home a:hover:after {
    text-decoration: none;
    bottom: 0px;
    border-width: 0 0 0px;
}

.project_blurb{
    padding: 70px;
}

.project_img {
    padding: 0px;
}

.project_img#project1 {
    background-color: #F7971C;
}

.project_img#project1:before{
/*    content: "";
    position: relative;
    border-left: 70px solid transparent;
    border-bottom: 550px solid #F7971C;
    right: 70px;
    height: 100%;*/
}


.project_img#project2 {
     background-color: #073053; 
    /* border-bottom: 555px solid #073053; */
    /* height: 100%; */
}

.project_img#project2:before {
/*    content: "";
    position: relative;
    border-right: 69px solid transparent;
    border-bottom: 550px solid #073053;
    height: 100%;*/
}


.drop-menu a {

}

.profile-image {
    border: 8px solid #fff;
    border-radius: 2px;
    max-height: 350px;
    overflow: hidden;
    padding: 0px;
}

.about-grid {
    background-color: #ffffff;
    /* margin: 0 20px; */
    padding: 34px;
    line-height: 14px;
    border-radius: 2px;
    color: #343638;
}

.about-grid a {
    font-family: 'Oxygen', sans-serif;
    color: #791DC1;
    font-weight: 600;
}

.about-body {
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

h1.about {
    margin: 0px;
    font-size: 30px;
    font-family: 'Montserrat';
}

h2 {
    font-family: 'Rubik';
    font-size: 28px;
    line-height: 28px;
    font-weight: 500;
    color: #534952;
}

h2.project-home{
    font-size: 24px;
}

h2.project-home#project1{
    color: #FFFFFF;
}

h2.project-home#project2{
    color: #24D9C3;
}

h2.project-home#project3{
    color: #0782C5;
}

h2.small-title {
    margin-bottom: 80px;
}


h2.about {
    margin: 0px 0px;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;
    /* line-height: 7px; */
    font-weight: 200;
    letter-spacing: 1px;
    /* font-style: inherit; */
}

h2.block-title {font-family: 'Montserrat';margin: 0px;font-size: 18px;margin-bottom: 10px;color: #ba6ff5;text-transform: uppercase;letter-spacing: 1px;}


h3 {
    font-family: 'Roboto';
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #776F76;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

h3.project-home{
    color: #FFFFFF;
}

h3.project-home#project3{
    color: #666666;
}

h3.project-menu{
    color: #1D191F;;
}

h3.project-body {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 22px;
    color: #776F76;
    text-transform: initial;
    letter-spacing: 0px;
    margin-top: 30px;
    line-height: 32px;
}




h3.subtitle{
    font-size: 14px;
    font-weight: 500;
    font-family: Montserrat;
    color: #791dc1;
    /* width: 20%; */
    padding: 10px 2px;
    /* padding-right: 10px; */
    /* text-decoration: underline; */
    border-bottom: 1px solid #791dc1;
    /* line-height: 23px; */
    /* padding-bottom: 10px; */
    display: table;
}

h4 {
    font-size: 15px;
    font-family: "Rubik";
    color: #8d88bd;
    font-weight: 500;
}

.page-content {
    position: relative;
    /*margin-top: 60px;*/
}

#name-card {
    background-color: #343638;
    color: #ffffff;
    line-height: 5px;
}

div#skills {
    background-color: #835DA0;
    color: #fff;
    font-family: 'Oxygen';
    letter-spacing: 0.5px;
    line-height: 18px;
    font-weight: 300;
}

div#experience {
    background-color: #FFF;
    color: #424242;
}

div#education {
    /* padding: 0; */
    /*position: absolute;
    left: 0;
    bottom: 0;*/
    background-color: #E2E2E2;
    color: #835DA0;
}

#about-grid-2{
    padding-left:0px;
    padding-right:0px;
}

.col-1{
    padding-left:0px;
    padding-right:0px;
}

.col-2{
    padding-left:0px;
    padding-right:0px;
}

.about {
    line-height: 30px;
}

h3.about{
    font-size: 16px;
    margin: 0;
    /* margin-top: 5px; */
    /* line-height: 31px; */
}

h3.skill-title{
    /* margin: 10px; */
    font-size: 15px;
    font-weight: 600;
    /* padding-left: 5px; */
}

h4.about{
    margin-top: 30px;
}

.about-img-caption {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    font-size: 11px;
}

.list-inline > li {
  display: inline-block;
  padding-right: 7px;
  padding-left: 7px;
}

img.thumb {
    min-width: 100%;
}

th {
    background-color: #8d88be;
    text-align: center;
    color: #fff;
}

.video-module{
    width: 100%;
    text-align: center;
}

.responsive-video {
position: relative;
padding-bottom: 50%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.cta {
    text-align: center;
    /* text-decoration: none; */
}

h1#homepage{
    /*text-transform: uppercase;*/
}

.carousel{
    background: #ffffff;
    margin-top: 20px;
    margin-bottom: 50px;
}
.carousel .item img{
    margin: auto; /* Align slide image horizontally center */
}
.bs-example{
    margin: 20px;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-control:hover {
    color: #333;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(255, 255, 255, 0.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(255, 255, 255, 0.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(255, 255, 255, 0.5) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(255, 255, 255, 0.5)));
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(255, 255, 255, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

/*.carousel-control:hover {
    color: #ba6ff5;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: .9;
}*/

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0px;
    left: 15%;
    z-index: 10;
    width: 100;
    font-weight: 400;
    line-height: 25px;
    padding-top: 20px;
    background-color: rgba(255,255,255,0.75);
    padding-bottom: 20px;
    color: #666;
    text-align: center;
    text-shadow: none;
}

.carousel-indicators {
    top: 20px;
    position: relative;
    bottom: 0px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    margin-right: 0px;
    text-align: center;
    list-style: none;
}

.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #791dc1;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    /* margin: 1px; */
    text-indent: -999px;
    cursor: pointer;
    background-color: #000\9;
    background-color: rgba(121, 29, 193, 0.5);
    /* border: 1px solid #ba6ff5; */
    border-radius: 10px;
}

.view-resume {
    margin: 5px 0px;
    border: 2px solid #fff;
    width: 105px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    border-radius: 3px;
}

.view-resume:hover {
    background-color: #ffffff2e;
}

.view-resume a {
    color: #FFF;
}

.view-resume a:hover {
    text-decoration: none;
}

.intro {
        font-size: 15px;
        font-weight: 400;
}

.post-tagline {
    margin-bottom: 30px;
}

.post-specs{

}


.img-section{
    text-align: center;
}
.img-section a:link {
    text-decoration: none;
}

.img-section a:hover {
    text-decoration: none;
}

h1 {
    font-size: 36px;
    font-family: "Rubik";
    color: #534952;
    font-weight: 400;
}

h1.section-title {
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 15px 0px;
    /* text-transform: uppercase; */
    letter-spacing: 0px;
    line-height: 26px;
}


img.img-border {
    border: 1px solid #ddd;
}


.prev-next {
    width: 100%;
    display: inline-block;
}

.footer-col {
    font-family: 'Rubik';
    font-size: 16px;
}

#return-to-top {
    position: fixed;
    bottom: 90px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 45px;
    border: 2px solid rgba(141, 136, 190, 0.7);
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: rgba(141, 136, 190, 0.7);
    margin: 0;
    position: relative;
    left: 9px;
    top: 1px;
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    /*color: rgba(141, 136, 190, 1.0);*/
    border: 2px solid rgba(141, 136, 190, 1);
}
#return-to-top:hover i {
    color: rgba(141, 136, 190, 1.0);
    top: -3px;
}



blockquote{
  display:block;
  background: #fff;
  padding: 24px 40px 10px 70px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-size: 20px;
  text-align: left;
  
  /*Borders - (Optional)*/
  border: none;
  font-family: 'Rubik';
  font-weight: 500;
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: 'Georgia';
  font-size: 80px;
  font-weight: bold;
  color: #8D88BE;
  
  /*Positioning*/
  position: absolute;
  left: 20px;
  top: 20px;
}


blockquote footer{
    font-weight: 300;
    line-height: 36px;
    font-size: 18px;
    margin-top: 10px;
}


body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

/* no outline for non-keyboard-inputs elements */
button:focus,
select:focus {
  outline: none;
}



/*img.rachelicon {
    width: 100px;
}*/