 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello! My name is Rachel and I'm a senior studying Media Studies and Computer Science at UC Berkeley. I'm a user experience designer and developer who loves creating products that will delight users and increase their engagement.</p>
                    <p>
                    I'm currently a part-time Product Manager Intern at <a href="http://thredup.com">thredUP</a>, a fashion resale app for women and children's clothing, to redesign the online customer service experience and build intranet tools. This past summer, I focused on building ThredUP's upcoming personalization feature as a Product Manager Intern.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>If you're interested in working with me on web applications and graphic design projects or if you'd like to chat, feel free to connect with me using the form below. I look forward to hearing from you!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-angle-double-down"></i> Contact Me
                    </a>
                </div>
            </div>
        </div>
    </section>