 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello! My name is Rachel and I'm currently a 3rd year studying Media Studies and Computer Science at UC Berkeley and the Web Design Staff Assistant for Campus Refuse and Recycling Services at UC Berkeley. I aspire to become a web developer, product designer, or product manager in the fields that will intersect my interests and passions for media, technology, and fashion.</p>
                </div>
                <div class="col-lg-4">
                    <p>If you're interested in working with me on web and graphic design projects, connect with me using the form below. I look forward to hearing from you!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                  <!--   <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a> -->
                </div>
            </div>
        </div>
    </section>