---
layout: default
---
<article class="post post-container" itemscope itemtype="http://schema.org/BlogPosting">
<section class="project-hero">
  <div class="post-tagline"><h3>{{ page.label }}</h3></div>
  <div class="post-main-title" itemprop="name headline"><h1>{{ page.title }}</h1></div>
  <div class="post-specs"><h4><i class="fa fa-thumb-tack" aria-hidden="true"></i>  {{ page.specs }}</h4></div>
  <!-- <div class="post-tagline"><i>{{ page.tagline }}</i></div> -->
</section>
  <div class="img-container">
    <img src="{{ site.baseurl }}/img/portfolio/{{ page.main-img }}" class="img-responsive post-img" />
  </div>
  <!-- <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header> -->

  <div class="post-content portfolio-content" itemprop="articleBody">
    {{ content }}
  </div>

 <!--  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %} -->

  <div class="nav-pagination">
  
  </div>
</article>

 <div class="clearfix row prev-next">
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl }}"> 
  <div class="col-md-6 pull-left">
  <div class="next prev-next-block">
    <div class="prev-next-title"><h3>PREVIOUS</h3></div>
    <div class="prev-next-project">{{page.next.title}}</div>
  </div>
  </div>
  </a>
  {% endif %}
  {% if page.previous.url %}
  <a href="{{ page.previous.url | prepend: site.baseurl }}" | prepend: {{ site.baseurl }}"> 
   <div class="col-md-6 pull-right">
   <div class="prev prev-next-block pull-right">
    <div class="prev-next-title"><h3>NEXT</h3></div>
    <div class="prev-next-project">
      {{page.previous.title}}
    </div>
  </div>
  </div>
  </a>
    {% endif %}
  </div>