@media only screen and (max-width: 1200px) {
   .content-box {
     flex-direction: column;
   }

   #root {
     height: auto;
   }

   .content-box-hero {
     align-self: center !important;
     margin-right: 0px !important;
     margin-bottom: 50px;
   }
}

a:hover {
  cursor: ne-resize;
  transition: all .3s ease-in-out;
}


.content-box {
  padding: 50px 20px 50px 20px;

  display: flex;
  align-items: center;
}

.content-box-hero {
  align-self: start;
  margin-right: 80px;
}

.link {
  color: #282828;
  background: linear-gradient(to bottom, var(--highlightColor) 0%, var(--highlightColor) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 2px 2px;
  text-decoration: none;
}

.link:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .8s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23584CDE' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.content-box-hero img {
  height: 520px;
  border-radius: 8px;

  box-shadow:  -20px -20px 60px #aaa2d9
}

.content-box-intro {
  align-self: start;
}

.content-box-intro p a {
  color: #584CDE;
  position: relative;
  text-decoration: none;
}

.content-box-intro p a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.content-box-intro p a::before  {
  content: "";
  color: #584CDE;
  width: 100%;
  position: absolute;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: #584CDE;
  opacity: 0.3;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}



.content-box-intro h1 {
    font-family: 'Gotu', sans-serif;
    font-size: 2.0em;
    font-weight: initial;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5em;
    color: #0B0B0B;
    padding: 0;
    margin: 0;
    max-width: 650px;
}

.content-box-intro h2 {
  max-width: 530px;
  font-family: 'Work Sans', sans-serif;
  color: #282828;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
  font-weight: 500;
  font-size: 1.1em;
  margin: 30px 0px;
  margin-bottom: 60px;
}

.social-links img {
  margin-right: 20px;
}